@model IEnumerable<ProgettoSettimanale_29_07__02_08.DataLayer.Entities.Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row text-light rounded p-3 shadow">
    <h1 class="display-4">HomePage</h1>
    <hr />
    <h4>Scegli i tuoi prodotti!</h4>
    @foreach (var p in Model)
    {
        <div class="card col-md-3 mx-3 p-0 custom-bg-2">
            <img src="@p.PhotoUrl" class="card-img-top p-3" alt="Product Image">
            <div class="card-body m-3 custom-bg rounded shadow text-light">
                <h5 class="card-title fst-italic">@p.Name</h5>
                <div class="card-text">
                    <p class="fst-italic">
                        Ingredienti:
                    </p>
                    <hr />
                    @if (p.Ingredients != null && p.Ingredients.Any())
                    {
                        <ul class="list-group list-unstyled">
                            @foreach (var ingredient in p.Ingredients)
                            {
                                <li class="list-item-cs">@ingredient.Name</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span>Ingredienti non disponibili</span>
                    }
                    <div class="pt-4">
                        <p><strong>Tempo di consegna:</strong> @p.DeliveryTime min</p>
                        <p><strong>Prezzo:</strong> @p.Price.ToString("C")</p>
                    </div>
                </div>
                <form asp-controller="Cart" asp-action="AddToCart" method="post" class="card-text mt-3">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="productId" value="@p.Id" />
                    <div class="form-group">
                        <label for="quantity" class="fst-italic">Quantità:</label>
                        <input type="number" name="quantity" value="1" min="1" class="custom-input" />
                    </div>
                    <div class="text-center">
                    <button type="submit" class="custom-btn my-3">Aggungi al carrello</button>
                    </div>
                </form>
            </div>
        </div>
    }
</div>
