@model ProgettoSettimanale_29_07__02_08.DataLayer.Entities.Product

@{
    ViewData["Title"] = "ProductDetails";
}
<div class="row custom-bg-2 text-light rounded p-3 shadow">
    <h1>Dettagli</h1>
    <hr />
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PhotoUrl)
            </dt>
            <dd class="col-sm-10">
                <div class="w-25">
                    <img src="@Html.DisplayFor(model => model.PhotoUrl)" class="img-fluid" />
                </div>
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DeliveryTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DeliveryTime) min
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="EditProduct" asp-route-id="@Model?.Id" class="custom-btn link-light text-decoration-none">Modifica</a>
        <a asp-action="ProductList" class="custom-btn link-light text-decoration-none">Torna alla lista</a>
    </div>
</div>
